@media only screen and (max-width:768px) {
    .section-1 .row .col-md-6 .panel {
        position: initial;
        width: initial;
        height: initial;


    }
}

@media only screen and (max-width:425px) {

    header {

        width: 425px;
        height: 608px;
        background-image: url('../assets/Artboard\ 1.png');
        background-size: 100% 100%;
    }

    header .navbarz {
        overflow: hidden;


        background-size: 100% 100%;
        width: 250px;




    }

    #carouselExampleControls {
        width: 50%;
        height: auto;
        top: 50vmin;

    }

    .section-1 .row .col-md-6 .pray img {

        margin: 2px;

    }



    .section-1 .row .col-md-6 .panel {

        margin: 2px;

    }

    .container .prai .rect1 iframe {

        width: 425px;
        height: 240px;
    }

}