@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Raleway:wght@300&family=Roboto+Condensed&family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;

}

header,
section {

    overflow-x: hidden;
}

:root {
    --Ral-font: "Raleway", cursive;
    --Mont-font: "Montserrat", cursive;
    --roboc-font: "Roboto+Condensed", cursive;
    --rob-font: "Roboto", cursive;
}

header {

    width: auto;
    height: 695px;
    background-image: url('../src/Artboard\ 1.png');
    background-size: 100% 100%;
}

oz {
    border-radius: 50%;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}

#carouselExampleControls {
    width: 20%;
    height: auto;
    top: 30vmin;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(5px 5px 5px rgba(165, 165, 165, 0.4));
}

#carouselExampleControls h5 {

    font-family: var(--roboc-font);
    text-align: center;
    color: azure;

}

.bg-dark {
    position: absolute;
    right: 0px;
    border-radius: 100px 0px 0px 100px;
    background-image: url('../src/xAsset\ 1.png');
    opacity: 0.9;
    background-size: 100% 100%;
    width: 370px;

}



.bg-dark a:hover {

    color: cyan;
}



.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("../src/download-01.svg");
}

.navbarz {
    overflow: hidden;
    left: 0px;

    border-radius: 0px 100px 100px 0px;
    background-image: url('../src/x1Asset\ 1.png');
    opacity: 0.9;
    background-size: 100% 100%;
    width: 600px;

    position: absolute;
    bottom: 0;


}

.navbarz a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbarz a:hover {
    background: #f1f1f1;
    color: black;
}

.navbarz a.active {
    background-color: #4CAF50;
    color: white;
}

/*-----header--------*/


/*-----section1--------*/
.section-1 {
    padding: 20vmin 0;
    overflow-x: hidden;

}

.section-1 .row .col-md-6 .pray img {

    width: 50%;
    height: auto;
    border-radius: 1em;
    filter: drop-shadow(5px 5px 5px #222);
    overflow-x: hidden;

}

.section-1 .row .col-md-6 :last-child {

    position: relative;

}

.section-1 .row .col-md-6 .panel {

    position: absolute;
    top: 5vmin;
    left: -18vmin;
    background: rgb(255, 255, 255);
    border-radius: 2em;
    text-align: center;
    padding: 3vmin 6vmin 3vmin 6vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.7);
    font-family: var(--Ral-font);
    overflow-x: hidden;


}

.section-1 .row .col-md-6 .panel h1 {

    font-weight: bolder;
    padding: 0.4em 0;
    font-size: 2em;
    font-family: var(--rob-font);
}

/*-----section1--------*/

/*-----section2--------*/

.cover {
    width: 100%;
    height: 55vmin;
    background: url(../src/musical-notes-earphones-with-copy-space.jpg);
    background-position: -10rem -9rem;
    background-size: 150%;
    position: relative;
}

.cover .content {
    background: rgba(0, 0, 0, 0.7);
    height: 55vmin;
    width: 100%;
    padding-top: 19vmin;


}

.cover .content h1 {
    font-family: var(--Ral-font);
    font-size: 6vmin;
    color: whitesmoke;


}

.numbers .rect {
    position: relative;
    z-index: 1;
    background: rgb(255, 255, 255);
    width: 20rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    box-shadow: 1px 25px 50px 0px rgba(0, 0, 0, 0.6);

}

.numbers {
    margin-top: -20vmin;
}

.numbers .rect h1 {
    font-size: 4.5rem;
    font-family: var(--Mont-font);

}

.numbers .rect p {
    font-size: 2rem;
    font-family: var(--Mont-font);
}

/*-----section2--------*/

/*-----section3--------*/

.container .prai .rect1 {

    position: center;
    margin: 15rem 0rem 0rem 0rem;
    overflow-x: hidden;
}

.container .prai .rect1 iframe {

    width: 660px;
    height: 415px;
}

.container .prai .rect2 {
    position: center;
    margin: 3rem 0rem 6rem 0rem;
    overflow-x: hidden;
    font-family: var(--Ral-font);
}


/*-----section3--------*/

/*-----section4--------*/
.form-group {
    margin-left: auto;
    margin-right: auto;
    padding: 1px;

}

.form-group .form-check {
    padding: 1px;

}

.form-group .btn {
    top: -5vmin;
}

.contactus {
    text-align: center;
    font-size: 2em;
    font-family: var(--rob-font);
    margin: 2em;
    padding: 1px;

}

/*-----section1--------*/


/*-----footer--------*/
footer {
    background-color: #222;
    overflow-x: hidden;
    padding: 14vmin 18vmin;
    font-family: var(--rob-font);
}

footer .sp4 {

    color: slateblue;

}

/*-----footer--------*/